
a
    text-decoration: none

h1,h2,h3,h4,h5,h6
    margin: 0

p
    margin: 0

ul
    list-style: none
    margin: 0
    padding: 0

.container
    max-width: 1300px
    margin: 0 auto

header
    background-image: url('../img/header-bg.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center

.header__top
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 50px
.header__menu
    display: flex
    &-item
        margin-left: 25px
        font-family: Open Sans
        font-style: normal
        font-weight: bold
        font-size: 14px
        line-height: 19px
        a
            color: #fff
.header__call
    &-inner
        display: flex
    &-link
        font-family: Open Sans
        font-style: normal
        font-weight: bold
        font-size: 18px
        line-height: 25px
        color: #fff
        &::before
            content: url('../img/phone.svg')
    &-text
        width: 154px
        font-family: Open Sans
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 19px
        color: #fff

.header__btn
    width: 157px
    height: 47px
    margin-left: 45px
    background: #FF7400
    border: none
    cursor: pointer
    color: #fff

.header__bottom
    padding: 205px 0 124px 0
    &-inner
        width: 556px
        text-align: center
    &-text
        font-family: Tinos
        font-style: normal
        font-weight: normal
        font-size: 50px
        line-height: 57px
        color: #D67E35
    &-title
        font-family: Tinos
        font-style: normal
        font-weight: normal
        font-size: 80px
        line-height: 92px
        color: #D67E35
        margin-bottom: 12px
    &-eat
        font-family: Open Sans
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 25px
        color: #fff
    &-btn
        display: block
        margin: 0 auto